%nav.nav-side-menu.navbar-dark.navbar-expand-sm
  = render partial: "layouts/admin/side_menu_header"
  #menu-content.navbar-collapse.collapse
    .nav-side-container
      %ul.navbar-nav.flex-column
        = render partial: "layouts/admin/side_menu_main_content"
