.card.card-image.cover-image{:style => "background-image: url(https://c1.staticflickr.com/5/4550/24130216587_390fb4c523_b.jpg)"}
  .card-header
    %h4.card-title.text-center My Next Race
  .card-body.text-white
    %p.card-text The Circus is a 12 hour time limit race
    %a.btn.btn-primary{href: root_path} More
