%h5 PLAN
%p Your current plan is highlighted below, and you can change at any time.
.plan-selector
  %form{action: ""}
    .form-check
      %label.custom-control.custom-radio
        %input.custom-control-input{checked: "checked", name: "plan-level", type: "radio"}/
        %span.custom-control-indicator
        %span.custom-control-description.d-flex.w-100
          .details
            .plan-name Indie
            .plan-description 10 projects, 500MB storage
          .price
            $9/mo
    .form-check
      %label.custom-control.custom-radio
        %input.custom-control-input{name: "plan-level", type: "radio"}/
        .highlight
        %span.custom-control-indicator
        %span.custom-control-description.d-flex.w-100
          .details
            .plan-name Basic
            .plan-description 20 projects, 1500MB storage
          .price
            $19/mo
    .form-check
      %label.custom-control.custom-radio
        %input.custom-control-input{name: "plan-level", type: "radio"}/
        %span.custom-control-indicator
        %span.custom-control-description.d-flex.w-100
          .details
            .plan-name Pro
            .plan-description 30 projects, 2500MB storage
          .price
            $29/mo
    .form-check
      %label.custom-control.custom-radio
        %input.custom-control-input{name: "plan-level", type: "radio"}/
        %span.custom-control-indicator
        %span.custom-control-description.d-flex.w-100
          .details
            .plan-name Master
            .plan-description 100 projects, Unlimited storage
          .price
            $49/mo
  .actions.d-flex
    %button.btn.btn-success.ml-auto Save Changes
