%h5 SUPPORT
.container
  .row.mb-4
    .col-12
      .form-group
        %label.d-flex.align-items-center{for: "exampleFormControlInput1"}
          %h6.mr-auto Search Knowledge Base
          %p.small.text-muted.m-0 2,121 articles
        %input#exampleFormControlInput1.form-control{placeholder: "Type your question here...", type: "email"}/
  .row.mb-4
    .col-12
      .d-flex.align-items-center
        %h6.mr-auto Recent Support Forum Activity
        %a.btn.btn-link.small.m-0{href: "javascript:"} Visit Forum →
      %table.table.table-responsive-sm
        %thead
          %th
            Thread Title
          %th
            Date Opened
          %th
            Last Activity
        %tr
          %td
            %a{href: "javascript:"} How do I install this on Windows?
          %td
            2 days ago
          %td
            10 mins ago
        %tr
          %td
            %a{href: "javascript:"} Error opening main screen...
          %td
            2 days ago
          %td
            10 mins ago
        %tr
          %td
            %a{href: "javascript:"} Colossus demands to know my location?
          %td
            2 days ago
          %td
            10 mins ago
        %tr
          %td
            %a{href: "javascript:"} Reticulating splines is taking too long!
          %td
            2 days ago
          %td
            10 mins ago
