#RightMenu.sticky-top{style: "z-index: -1"}
  .card
    .card-header
      %i.fa.fa-bullhorn.fa-2x
      %h6 Announcements
    .list-group
      .list-group-item
        .media
          %img.img-circle.d-flex.mr-3{:alt => "1", "data-turbolinks-permanent" => "true", :height => "64", :src => "../../assets/rrt/stock/1-a71f1035a93565a5588c080b2bf1be0cbedce681a89b654760c519a579449a15.jpg", :width => "64"}/
          .media-body
            %h5.media-header Lisa Solvay
            Hey, I have the new designs ready. But I could use some feedback on the color choices.
      .list-group-item.media.clearfix
        .media
          %img.img-circle.d-flex.mr-3{:alt => "2", "data-turbolinks-permanent" => "true", :height => "64", :src => "../../assets/rrt/stock/2-625f1b778bfa549542025e4c5c195a903aa82a0a0c72bdc85bc949fdca9aa5fb.jpg", :width => "64"}/
          .media-body
            %h5.media-header Jim Fenix
            Hey, I have the new designs ready. But I could use some feedback on the color choices.
      .list-group-item.media.clearfix
        .media
          %img.img-circle.d-flex.mr-3{:alt => "4", "data-turbolinks-permanent" => "true", :height => "64", :src => "../../assets/rrt/stock/4-36a07a4eb7045e8049c3529147e6f1383c0956e0e586e07927e356c18b6b7920.jpg", :width => "64"}/
          .media-body
            %h5.media-header Jim Van Sant
            Hey, I have the new designs ready. But I could use some feedback on the color choices.
      .list-group-item.media.clearfix
        .media
          %img.img-circle.d-flex.mr-3{:alt => "3", "data-turbolinks-permanent" => "true", :height => "64", :src => "../../assets/rrt/stock/3-9b9d225ea3cf9c9f07cea81d16c455fb6248b9ccf19717395fbcc184411f0a89.jpg", :width => "64"}/
          .media-body
            %h5.media-header Jack Parsons
            Hey, I have the new designs ready. But I could use some feedback on the color choices.
