%section.bg-primary
  .container
    .row.pt-5.pb-5
      .col-12.col-md-4.text-center.text-white
        .bg-circle.mb-4
          = theme_icon_tag "eye", class: "text-opacity-9 display-3"
        %h4 Scenic
        %p.lead.px-5
          Sick of doing laps around small parks? So are we. Our race venues offer a true trail running experience.
      .col-12.col-md-4.text-center.text-white
        .bg-circle.text-white.mb-4
          = theme_icon_tag "support", class: "display-3"
        %h4 Supported
        %p.lead.px-5
          Beyond fully stocked aid stations, we have medically trained Search & Rescue staff at each of our races.
      .col-12.col-md-4.text-center.text-white
        .bg-circle.text-white.mb-4
          = theme_icon_tag "pulse", class: "display-3"
        %h4 Festive
        %p.lead.px-5
          Our post race parties will rock your socks off. Craft beer, brick oven pizza, and live music!
